/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
@import url('https://fonts.googleapis.com/css2?family=Stoke');

.loading {
  border: 1rem solid #939393;
  border-top: 1rem solid #494949;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 3s linear infinite;
  margin: 4rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table{
  margin: .5rem auto;
  font-family: "Stoke", "Times New Roman", serif;
  font-size: 0.8rem;
  text-shadow: 1px 1px black;
}

.category-title {
  font-weight: bold;
  height: 4rem;
  font-size: 1rem;
}

td {
  background-color: #060ce9;
  color: antiquewhite;
  text-align: center;
  width: 14rem;
  height: 6.5rem;
  padding: 0.5rem;
}
