/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
@import url('https://fonts.googleapis.com/css2?family=Stoke');

.loading {
  border: 1rem solid #939393;
  border-top: 1rem solid #494949;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 3s linear infinite;
  margin: 4rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html{
  height: 100%;
}

body {
  background-image: linear-gradient(#010c49, #0025a9, #536ffc, #e9a288, #536ffc, #0025a9, #041b9a);
}

table{
  background-color: white;  
  margin: .5rem auto;
  font-family: "Stoke", "Times New Roman", serif;
  font-size: 0.8rem;
  text-shadow: 1px 1px 2px black;
}

.category-title {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  /* font-weight: bold; */
  height: 4rem;
  font-size: 1.5rem;
}

td {
  background-color: #070db3;
  border: 0.25rem solid #070db3;
  color: antiquewhite;
  text-align: center;
  width: 14rem;
  height: 6.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
}

.unclicked:hover, .question:hover{
  border: 0.25rem solid rgb(255, 208, 0);
  filter: brightness(120%);
}

.unclicked:active, .question:active{
  filter: brightness(80%);
}

.unclicked {
  font-size: 5rem;
  font-weight: bold;
}

.back{
  background-color: rgb(29, 157, 48);
  width: 1rem;
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
}

.back:hover{
  filter: brightness(140%);
  user-select: none;
}
